.Login > form {
    width: 250px;
    height: 250px;
    text-align: center;
    display: inline-block;
    margin: 50px auto;
}

.Login .TextBox, .Btn{
    width: 100%;
    margin: 20px 0;
}

.Login .Btn {
    height: 40px;
    width: 120px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid 1px rebeccapurple;
    border-radius: 5px;
    color:rebeccapurple;
    font-size: medium;
} 

.Login h2 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rebeccapurple;
}

.Login .SpanMessage {
    color: red;
    margin: 40px 0;
    position: absolute;
}
