.VacationCard {
    display: inline-block;
    max-width: 250px;
   
}

.VacationCard .Card {
    margin: 5px;

}

.VacationCard .title {
    color: blueviolet;
}

.VacationCard .btn {
    margin-top: 0px;
    padding: 5px;
    color: blueviolet;
}

.VacationCard .moreIcon{
    border: none;
    
}

.VacationCard img {
    width: 190px;
    height: 160px;
    margin-left: 15px;
}
